# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pycache/
*.sqlite3

# Env files / secrets
.env
*.env
aws_credentials
aws_config

# Docker
*.log
*.pid
*.swp
*.swo
docker-compose.override.yml

# IDE / editors
.vscode/
.idea/
*.iml

# OS generated
.DS_Store
Thumbs.db

# Logs
*.log
